.login-container {
  width: 100%;
  height: calc(100vh - 100px); /* 60px header + 40px footer */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/backImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-box {
  background: var(--bg-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-box h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}