.item-editing {
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    background: #f5f5f5;
}

.item-editing form {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.item-editing h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

.box-search button {
    height: 42px;
    padding: 0 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.box-search button:hover {
    background-color: var(--primary-hover);
}

.box-search form {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin: 0 auto;
}

.box-search .input-container {
    flex: 1;
}

.delete-button-box {
    display: flex;
}

.delete-button-box button {
    margin: 10px 10px 10px 0;
    background-color: var(--primary-color);
}

.delete-button-box button:hover {
    background-color: var(--primary-hover);
}