.stock-control {
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    background: var(--bg-color);
}

.stock-control form {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

.stock-control .item-box {
    display: flex;
    justify-content: space-between;
}

.stock-control .item-box p {
    font-size: 150%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.button-box button {
    margin: 10px 10px 10px 0px;
}