.icon-button button {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.icon-button button svg {
    width: 24px;
    height: 24px;
}

.icon-button button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}