.header {
  height: 60px;
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  justify-content: space-between;
}

h2 {
  color: black;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.menu-btn svg {
  color: white;
}

.useful-buttons {
  display: flex;
}

.useful-buttons svg {
  color: white;
}

.logout-btn button {
  margin: 10px 10px 10px 0px;
}
