.sidebar {
  position: fixed;
  top: 60px; /* abaixo do header */
  left: 0;
  width: 220px;
  height: calc(100vh - 60px);
  background-color: var(--bg-alt-color);
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 100;
}

.sidebar:not(.open) {
  transform: translateX(-100%);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background 0.2s, color 0.2s;
}

/* Hover normal */
.menu a:hover {
  background-color: var(--secondary-color);
  color: var(--bg-alt-color);
}

/* Link ativo */
.menu a.active {
  background-color: var(--secondary-color);
  color: white;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0);
  }
}
