.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--bg-alt-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 200;
}

@media (max-width: 768px) {
  .page-content {
    margin-left: 0;
  }
}

.page-content {
  flex: 1;

  margin-top: 60px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.sidebar.open ~ .page-content {
  margin-left: 220px;
}
