.item-registration {
  width: 100%;
  padding: 40px;
  background: var(--bg-color);
  min-height: 100vh;
}

.item-registration form {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.item-registration h1 {
  text-align: center;
  color: var(--text-color);
}

.item-registration button {
  margin: 10px 10px 10px 0;
}